body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: regular;
    color: white
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; /* Add spacing between nav links */
    margin-left: auto;
}

.nav-links li a {
    display: inline;
}

.nav-links a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Adjust font size */
}

.nav-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}
