body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.8rem;
    font-weight: regular;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff9c00; /* Color change on hover */
}

h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    margin: 20px;
}

#estate-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: #fff;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

button.edit-btn {
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 3px;
}

button.delete-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover {
    opacity: 0.8;
}
