body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#user-list {
    margin: 20px;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
